.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);
  position: relative;
  @include flexbox-center();
  height: 80px;
  width: 100%;
    &__logo {
    font-family: 'Shrikhand', cursive;
    margin: 0;
    color: black;
    }
}
