.loading-spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 3s linear;
  visibility: hidden;

  &__border {
    @include flexbox-center;
    border-top: 10px solid $color-primary;
    border-bottom: 10px solid $color-secondary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 300px;
    animation: spinner-border 3s cubic-bezier(.63, 2.12, 0, -0.65);
    z-index: 10;
    visibility: hidden;
  }

  &__center {
    width: 40px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-tertiary;
    animation: spinner-border 3s cubic-bezier(.34, -1.46, .91, 2.12)
  }
}
