.main {
  margin: 0;
  padding: 0;
  @include flexbox-center;
  flex-direction: column;
  background-color: #eaeaea;
}

* a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}
