.location {
  @include flexbox-center();
  background-color: #eaeaea;
    &__city {
      margin-left: 15px;
      font-weight: 400;
    }
}

.explore {
  background: #fafafa;
  width: 100%;
    &__container {
      width: 100%;
      padding: 40px 30px;
      @include flexbox-center();
      flex-direction: column;
    }

    &__title {
      text-align: center;
      max-width: 250px;
      margin: 0;
    }

    &__text {
      text-align: center;
      font-weight: 300;
      padding: 10px 0;
    }

    &__button {
      @include button-style;

      &:hover {
        @include button-hover;
      }
    }
}

.working {
  padding: 30px 20px 20px 20px;
  width: 100%;
  background: white;
    &__title {
      margin-bottom: 5px;
      margin-top: 0;
      @media (min-width: 1024px) {
        @include flexbox-center;
      }
    }
    &__step {
      display: flex;
      align-items: center;
      background: #f6f6f6;
      padding: 8px 20px;
      margin: 10px 20px;
      border-radius: 20px;
      position: relative;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.20);
    }
    &__number {
      background-color: $color-primary;
      color: white;
      position: absolute;
      padding: 3px 8px 3px 8px;
      border-radius: 500px;
      transform: translateX(-50%);
      margin-left: -20px;
    }
    &__icon {
      color: #7E7E7E;
      margin: 0 20px;
    }
    &__steps {
      display: flex;
      padding: 20px 0;
      margin: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      @media (min-width: 1024px) {
        flex-direction: row;
        width: 100%;
      }
    }
    &__text {
      margin-right: 30px;
      font-weight: 400;
    }
}

.primary_bg {
  background-color: #f2eafb;
}

.fa-store {
  color: $color-primary;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 32px 16px;
  padding-bottom: 50px;
  width: 100%;
}

.restaurant {
  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px #0000002e;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    transition: transform .2s;
    &:hover {
      transform: scale(1.02);
    }
  }
  &__card-image {
    height: 192px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 16px 16px 0 0;
    box-shadow: none;
    object-fit: cover
  }
  &__card-new {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    right: 12px;
  }
  &__block {
    padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
    // button {
    //   @extend .btn-heart;
    //   border: none;
    //   cursor: pointer;
    // }
  }
  &__block-heart {
    @extend .btn-heart;
    border: none;
    cursor: pointer;
  }
  &__block-info {
    flex: 1
  }
  &__block-name {
    margin: 0 0 4px;
  }
  &__block-city {
    margin: 0;
    font-weight: 300;
  }
  &__block-heart {
    height: 32px;
    width: 32px;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
  }
}
