.banner-image {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.menuTop {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  position: relative;
  &__header {
    padding: 16px 32px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-family: Shrikhand, "cursive";
  }
  &__heart {
    height: 32px;
    width: 32px;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }
  &__heart-like {
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
  }
}

.menus {
  display: grid;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    font-weight: 400;
    &::after{
      content: "";
      width: 48px;
      height: 4px;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0
    }
  }
}

.menuElement {
  background-color: white;
  padding: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;

  max-width: 100%;
  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__bio {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 8px;
  }
  &__check {
    background-color: $color-tertiary;
    margin: 16px 80px 16px 16px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &:hover &__check {
    margin-right: -16px;
  }
  &__wrapIcon {
    height: 26px;
    width: 26px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

  }

}

.command {
  @include flexbox-center;
  width: 100%;
  &__button {
    @include button-style;
    padding: 10px 20px;
    margin: 50px 0;
    font-size: 18px;
    &:hover {
      @include button-hover
    }
  }
}

.delay-0 {
  animation: slide-up 0.8s ease;
}
.delay-1 {
  animation: slide-up 1s ease;
}
.delay-2 {
  animation: slide-up 1.2s ease;
}
.delay-3 {
  animation: slide-up 1.4s ease;
}

.delay-4 {
  animation: slide-up 1.6s ease;
}

.delay-5 {
  animation: slide-up 1.8s ease;
}
.delay-6 {
  animation: slide-up 2s ease;
}

.delay-7 {
  animation: slide-up 2.2s ease;
}

.delay-8 {
  animation: slide-up 2.4s ease;
}

.delay-9 {
  animation: slide-up 2.6s ease;
}
