.banner-image {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.menuTop {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 0 0 18px #0000002E;
  &__header {
    padding: 16px 32px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      @extend .btn-heart;
      border: none;
      cursor: pointer;
    }
  }
  &__title {
    font-family: Shrikhand, "cursive";
  }
}

.menus {
  display: grid;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    font-weight: 400;
    &::after{
      content: "";
      width: 48px;
      height: 4px;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0
    }
  }
}

.menuElement {
  background-color: white;
  padding-left: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: slide-up 1s ease both;
  @for $i from 1 through 4{
    &.item#{$i} {
      animation-delay: calc(0.1s * #{$i});
    }
  }
  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  &__title {
    margin: 12px 0 12px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__bio {
    margin: 0 0 12px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 16px;
  }
  &__check {
    @include flexbox-center;
    background-color: $color-tertiary;
    margin-left: 20px;
    margin-right: -60px;
    border-radius: 0 12px 12px 0;
    transition: all 0.5s ease;
    i {
      font-size: 26px;
      color: white;
    }
  }
  &:hover > &__check {
    margin-right: 0px;
    i {
      transform: rotate(360deg);
      transition: transform 0.5s ease-in-out;
      }
  }
  &__wrapIcon {
    @include flexbox-center;
    width: 60px;
    color: white;
    border-radius: 12px;
  }

}

.command {
  @include flexbox-center;
  width: 100%;
  &__button {
    @include button-style;
    padding: 10px 20px;
    margin: 50px 0;
    font-size: 18px;
    &:hover {
      @include button-hover
    }
  }
}
