@keyframes slide-up {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }

  70% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes filling-heart {
  0% {
    background-position: center 27px;
    transform: scale(1);
  }

  100% {
    background-position: center 0px;
    transform: scale(1.1);
  }
}
